<a href="https://colab.research.google.com/github/EdsonRaySanJuan/CpE-031-VDA-CpE-21S4/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Variables and Data Types**

 **Numbers**

In [6]:
varNum = 123
pi = 3.14159

 **Strings**

In [ ]:
varString = "Hello World!"
varText = 'THis is a string'

 **Lists**

In [ ]:
varList = ['abc', 123]

 **Tuples**

In [ ]:
varTuple = 'abc', 123, "HELLO"

 **Dictionaries**

In [ ]:
var = 3
varDict = {'first':1, '2':'2nd', 3:var}

In [ ]:
varDict = {}
varDict['first'] = 1
varDict['2'] = '2nd'
varDict[3] = var

 **Addition**

In [11]:
a = 5 + 3

 **Subtraction**

In [ ]:
a = 5 - 3

 **Multiplication**

In [ ]:
a = 5 * 3

 **Exponent**

In [ ]:
a = 5 ** 3

 **Division**

In [2]:
a = 5 / 3

In [ ]:
a = 5 % 3

In [ ]:
a = 5 // 3

## **Arithmetic**

**Increment/Decrement**

In [ ]:
a = 5
a += 1

 **Decrement**

In [4]:
a = 5
a -= 1

 **String Concatenation**

In [ ]:
a = 'Hello' + 'World!'

In [9]:
a = 3 + 5 - 6 * 2 / 4

## **Control Statements and Data Structures**

**Conditional Statements**

 **Boolean Conditions**

In [ ]:
x = True

if x:
  print("var x is True")
else:
  print("var x is false")

 **String Condition**

In [ ]:
x = "Hello World"

if x == 'Hello World!':
  print("var x is Hello World!")
else:
  print("var x is not Hello World")

 **Numerical Conditions**

In [12]:
x = 10

if x =='10':
  print("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var x is none of the above")

var x is an integer

## **Loops**

**For Loops**

In [32]:
for var in range(0, 5, 2):
  print(var)

0
2
4

**While Loops**

In [33]:
var = 0
while var < 5:
  print(var)
  var += 2

0
2
4

 **Nested Loops**

In [34]:
x = 0
while x < 5:
  for y in range(0, x):
    print(7, end='')
  x += 1
  print()

7
77
777
7777

# **List**

In [19]:
pi = 3.14159
varlist = [1, 2, 'A', '8', 'Hello', pi]
print(varlist[0])
print(varlist[4])
varlist.append('World!')
print(varlist[6])
len(varlist)
print(varlist[5])
varlist.remove(pi)
print(varlist[5])

1
Hello
World!
3.14159
World!

# **Dictionaries**

In [16]:
var = "Hello World!"
varDict = {'first' : 123, 2 : 'abc', '3' : var, 4 : ['lista', 'listb']}
print(varDict['first'])
print(varDict[2])
print(varDict['3'])
print(varDict[4])
print(varDict[4][1])
len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

# **List Generators and Comprehension**

In [26]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varlist = gen_num_up_to(5)
print([var for var in varlist])

[0, 1, 2, 3, 4]

In [27]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varlist = gen_num_up_to(5)
print([var for var in varlist])

varlist = range(0, 5, 2)
print([var for var in varlist])

[0, 2, 4]
[0, 2, 4]

# **Slicing**

In [31]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])
print(varList[5:])
print(varList[:-2])
print(varList[-2:])
print(varList[2:-2])
print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]

# **Function**

In [36]:
def remainder(n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder(10, 4)

2